.profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  border-radius: 75%;
  border: solid black 1px;
}

.name {
  font-size: 25px;
  font-weight: 500;
}

.tag {
  font-size: 15px;
  color: rgb(93, 93, 93);
}

.location {
  font-size: 15px;
  color: rgb(82, 82, 82);
}

.stats {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(186, 195, 224);
  width: 100px;
  height: 100px;
}

.label {
  color: rgb(111, 111, 111);
}

.quantity {
  font-size: 18px;
  font-weight: 500;
}
